<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hxm.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".swipelistview.SimpleActivity"/>
        <activity android:name=".swipelistview.DifferentMenuActivity"/>
        <activity
            android:name=".swipelistview.SwipeMainActivity"
            android:label="@string/swip_menu_listview"/>
        <activity
            android:name=".circularimageview.CircularImageViewActivity"
            android:label="@string/custer_image">
        </activity>
        <activity
            android:name=".autoscrollviewpager.AutoScrollViewPaperActivity"
            android:label="@string/auto_scroll_view_paper">
        </activity>
        <activity
            android:name=".pulltorefresh.PullToRefreshActivity"
            android:label="@string/pull_to_refresh">
        </activity>
        <activity
            android:name=".pulltorefresh.PullToRefreshActivity1"
            android:label="@string/pull_to_refresh_ex_1">
        </activity>
        <activity android:name=".pulltorefresh.PullToRefreshActivity2">
        </activity>
    </application>

</manifest>